<div class="customContainer">
    <div class="alert alert-success alert-dismissible" role="alert" ng-show="showSuccessAlert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{message}}
    </div>
    <h1>All Books:</h1>
    <hr>
    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
    <div ng-repeat="book in books">
        <strong>{{book.name}}</strong> by {{book.author}}. Owned by <em>{{book.username}}</em><a ng-click="trade(book)"><span ng-show="book.trade" class="glyphicon glyphicon-retweet" aria-hidden="true"></span></a><a ng-click="removeBook(book)"><span ng-hide="book.trade" class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>.
    </div>
    <hr>
</div>