<div class="jumbotron">
    <div class="container">
        <h1>Read Nook</h1>
        <h3>The BEST book trading website!</h3>
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
    </div>
</div>
<div class="container">
    <div class="row">
        <article class="col-xs-12 col-sm-4">
            <h3>Catalogue books</h3>
            <p>Our cataloguing system is amazingly simple to use, yet more powerful than anything you've every used before!</p>
        </article>
        <article class="col-xs-12 col-sm-4">
            <h3>Trade books</h3>
            <p>Trading books is the focus of our application: we want to make it a more manageable and enjoyable process for both parties!</p>
        </article>
        <article class="col-xs-12 col-sm-4">
            <h3>Manage wishlists</h3>
            <p>No one has the book you want? Add it to your wishlist, and be automatically notified when one of our users adds it to their catalogue!</p>
        </article>
    </div>
</div>