<div class="customContainer">
    <div class="alert alert-success alert-dismissible" role="alert" ng-show="showSuccessAlert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{message}}
    </div>
    <button type="button" ng-click="showYourRequests()" class="btn btn-success" style="margin-top: 10px;">Your trade requests ({{user.borrowRequests.length}} outstanding)</button>
    <button type="button" ng-click="showRequestsForYou()" class="btn btn-info" style="margin-top: 10px;">Trade requests for you ({{user.lendRequests.length}} unapproved)</button>
    <button type="button" ng-click="showYourBorrowed()" class="btn btn-success" style="margin-top: 10px;">Borrowed books ({{user.borrowed.length}})</button>
    <button type="button" ng-click="showYourLent()" class="btn btn-info" style="margin-top: 10px;">Lent books({{user.lent.length}})</button><br>

    <div ng-show="myRequests" ng-repeat="borrowRequest in user.borrowRequests"><em>{{borrowRequest}}<span ng-click="cancelRequest(borrowRequest)" class="glyphicon glyphicon-remove" aria-hidden="true"></span></em></div>
    <div ng-show="requestsForMe" ng-repeat="lendRequest in user.lendRequests"><em>{{lendRequest}}</em><span ng-click="acceptRequest(lendRequest)" class="glyphicon glyphicon-ok" aria-hidden="true"></span><span ng-click="declineRequest(lendRequest)" class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
    <div ng-show="myBorrowed" ng-repeat="borrowed in user.borrowed"><em>{{borrowed}}</em></div>
    <div ng-show="myLent" ng-repeat="lent in user.lent"><em>{{lent}}</em><span ng-click="endRequest(lent)" class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
    <h1>My Books:</h1>
    <hr>
    <form ng-submit="addBook()">
        <h4>Add a book</h4>
        <input type="textbox" class="form-control addBookTextbox" ng-model="bookName" placeholder="Book name" required>
        <input type="textbox" class="form-control addBookTextbox" ng-model="bookAuthor" placeholder="Book author" required>
        <button type="submit" class="btn btn-primary">Add book</button>
    </form>
    <hr>
    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
    <div ng-repeat="book in books">
        <strong>{{book.name}}</strong> by {{book.author}} <a ng-click="removeBook(book)" href><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
    </div>
    <hr>
</div>